@import "../global/mixins.scss";
@import "../global/variables.scss";

.additional-products {
  display: flex;
  flex-direction: column;
  padding: 25px 0 35px 0;
  overflow: hidden;


  @media (min-width: $tablet-width) {
    padding: 0 0 74px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 86px;
  }
}

.additional-products__wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.additional-products__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  margin-bottom: 49px;
}

.additional-products__list {
  @include normalize-list;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 54px;

  @media (min-width: $tablet-width) {
    gap: 0;
    margin-bottom: 69px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.additional-product {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 26px 38px 27px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px 0;
    border: 1px solid #cdcdcd;

    &:not(:last-child) {
      border-bottom: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 14px 0 17px;
    grid-template-columns: 1fr 1fr 244px;
    align-items: center;
    gap: 40px;
    border-left: none;
    border-right: none;
  }
}

.additional-product__name {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
  margin: 0 auto;
  margin-bottom: 13px;
}

.additional-product__data-list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 15px;

}

.additional-product__description {
  font-size: 14px;
  line-height: 14px;
}

.additional-product__button {
  grid-column: 1/-1;
}
