@import "../global/mixins.scss";
@import "../global/variables.scss";

.advantages {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  margin: 0 auto;
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 43px;
      width: 100%;
      height: 1px;
      background-color: #e6e6e6;

      @media (min-width: $desktop-width) {
        display: none;
      }
    }
  }
}

.advantages__wrapper {
  margin: 0 auto;
  max-width: 280px;

  @media (min-width: $tablet-width) {
    max-width: 708px;
    padding: 0 0 90px 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding: 0 0 69px 0;
  }
}

.advantages__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }
}

.advantages__list {
  @include normalize-list();
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    width: 629px;
    display: grid;
    grid-template-columns: 247px 249px;
    row-gap: 37px;
    justify-content: space-between;
    padding-right: 75px;
  }

  @media (min-width: $desktop-width) {
    width: 1224px;
    padding-right: 0;
    justify-content: stretch;
    grid-template-columns: repeat(4, 245px);
    gap: 80px;
  }
}

.advantages__item {
  display: flex;
  flex-direction: row;
  gap: 20px;

  &::before {
    content: "";
    width: 60px;
    height: 60px;
    background-color: #68b738;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 40px 7px 57px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 31px;
    font-size: 16px;
    line-height: 24px;
  }
}

.advantages-usful {
  position: relative;

  &::before {
    background-image: url("../img/advantage-usful.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 32px;
  }

  @media (min-width: $tablet-width) {
    &::after {
      position: absolute;
      z-index: -1;
      content: "1";
      right: 23px;
      top: 0;
      font-family: "Oswald", "Arial", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 280px;
      line-height: 280px;
      color: #f2f2f2;
    }
  }
}

.advantages-cook {
  position: relative;

  &::before {
    background-image: url("../img/advantage-cook.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 32px;
  }

  @media (min-width: $tablet-width) {
    &::after {
      position: absolute;
      z-index: -1;
      content: "2";
      right: 23px;
      top: 0;
      font-family: "Oswald", "Arial", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 280px;
      line-height: 280px;
      color: #f2f2f2;
    }
  }
}

.advantages-nutrition {
  position: relative;

  &::before {
    background-image: url("../img/advantage-nutrition.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 32px;
  }

  @media (min-width: $tablet-width) {
    &::after {
      position: absolute;
      z-index: -1;
      content: "3";
      right: 23px;
      top: 0;
      font-family: "Oswald", "Arial", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 280px;
      line-height: 280px;
      color: #f2f2f2;
    }
  }
}

.advantages-time {
  position: relative;

  &::before {
    background-image: url("../img/advantage-time.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 32px;
  }

  @media (min-width: $tablet-width) {
    &::after {
      position: absolute;
      z-index: -1;
      content: "4";
      right: 23px;
      top: 0;
      font-family: "Oswald", "Arial", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 280px;
      line-height: 280px;
      color: #f2f2f2;
    }
  }
}

.advantages__description {
  width: 200px;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 245px;
    font-size: 16px;
    line-height: 24px;
  }
}
