@import "../global/variables.scss";

.applications {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 280px;
  gap: 20px;
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
    max-width: 708px;
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1220px;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 71px;
    margin: 0 auto;
    gap: 80px;
  }
}

.applications__item {
  position: relative;
  padding: 30px 20px 18px 19px;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    max-width: 708px;
    padding: 77px 316px 53px 52px;

    &::before {
      position: absolute;
      content: "";
      right: 62px;
      top: 92px;
      width: 200px;
      height: 200px;
      background-color: #68b738;
      border-radius: 50%;
    }
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    padding: 77px 61px 59px 52px;
    width: 570px;

    &::before {
      content: none;
    }
  }
}

.applications__title {
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-left: 69px;
  margin-bottom: 22px;

  &::before {
    position: absolute;
    content: "";
    left: -68px;
    top: -7px;
    width: 50px;
    height: 50px;
    background-color: #68b738;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    width: 36px;
    height: 50px;
    left: -61px;
    bottom: -6px;
    background-image: url("../img/cat-slim.svg");
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    max-width: 340px;
    margin-left: 0;

    &::after {
      content: "";
      position: absolute;
      width: 141px;
      height: 195px;
      left: 427px;
      top: 5px;
      background-image: url("../img/cat-tablet.svg");
    }

    &::before {
      content: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 162px;
    margin-bottom: 73px;

    &::after {
      content: "";
      position: absolute;
      width: 71px;
      height: 97px;
      left: -144px;
      top: -34px;
      background-image: url("../img/cat-desktop.svg");
    }

    &::before {
      position: absolute;
      content: "";
      left: -160px;
      top: -29px;
      width: 100px;
      height: 100px;
      background-color: #68b738;
      border-radius: 50%;
    }
  }
}

.applications-weight-gain .applications__title {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 68px;
    height: 38px;
    left: -78px;
    bottom: -6px;
    background-image: url("../img/tiger-slim.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    max-width: 340px;
    margin-left: 0;

    &::after {
      content: "";
      position: absolute;
      width: 269px;
      height: 113px;
      left: 360px;
      top: 57px;
      background-image: url("../img/tiger-tablet.svg");
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 162px;

    &::after {
      content: "";
      position: absolute;
      height: 57px;
      width: 135px;
      left: -179px;
      top: -9px;
      background-image: url("../img/tiger-desktop.svg");
    }
  }
}

.applications__description {
  margin: 0;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
}

.applications__link {
  text-decoration: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  color: #000000;

  &::after {
    position: absolute;
    content: "";
    left: 115px;
    top: 5px;
    width: 24px;
    height: 12px;
    background-image: url("../img/arrow.svg");

    @media (min-width: $tablet-width) {
      top: 10px;
    }
  }


  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
