@import "../global/variables.scss";

.button {
  display: inline-block;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  padding: 7px 44px;
  background-color: #68b738;
  cursor: pointer;
  border: none;
  text-align: center;


  &--promo {
    margin: 0 auto;
    font-size: 14px;
    line-height: 18px;
    padding: 7px 0 7px 0;
    width: 280px;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 20px;
      padding: 14px 0;
      width: 244px;
    }
  }

  &--product {
    padding: 10px 0 10px 0;
    font-size: 16px;
    line-height: 20px;
  }

  &--more-products {
    padding: 10px 0 10px 0;
    background-color: #f2f2f2;
    color: #444444;
    font-size: 16px;
    line-height: 20px;
    align-self: stretch;
  }


  .button-additional-product {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
