@import "../global/variables.scss";

.example {
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
  }
}

.example__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 25px 20px 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0;
  }
}

.example__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
    font-size: 60px;
    line-height: 60px;
  }
}

.example__text {
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    max-width: 432px;
  }
}


.example__results-wrapper {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 366px 1fr;
    align-items: center;
    margin-bottom: 105px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 55px;
    margin: 0;
    margin-bottom: 75px;
  }
}

.example__results-list {
  padding: 0;
  margin: 0 0 34px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.example__results-item {
  display: flex;
  flex-direction: column-reverse;
}

.example__result-description {
  font-weight: 400;
  font-size: 12px;
}

.example__result-value {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.example__price-wrapper {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    max-width: 180px;
    justify-self: flex-end;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    max-width: 371px;
    display: flex;
    margin-right: 0;
    gap: 63px;
  }
}
