@import "../global/mixins.scss";
@import "../global/variables.scss";


.form {
  display: flex;
  flex-direction: column;

  @include normalize-list;
}

.form__input[type="text"],
.form__input[type="email"],
.form__input[type="tel"] {
  margin: 0;
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  padding: 14px 15px 13px 15px;
  border: none;
  outline: 1px solid #e7e7e7;
  text-transform: uppercase;
}

.form__input[type="email"] {
  padding: 14px 15px;
}

.form__group {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 14px;
  min-width: 0;

  &--purpose {
    gap: 16px;
  }
}

.form__control {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.form__form-group-cat-and-purpose-wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 570px);
    gap: 80px;
    margin-bottom: 69px;
  }
}

.form__group--cat {
  margin-bottom: 46px;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    gap: 20px;
  }
}

.form__group--cat .form__control {
  gap: 13px;
}

.form__group--cat .form__label {
  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #444444;
  }
}

.form__input[type="text"] {
  margin: 0;
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  padding: 14px 20px 13px 20px;
  border: none;
  outline: 1px solid #e7e7e7;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 11px 20px;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #444444;
  }
}

.input--cat {
  @media (min-width: $tablet-width) {
    padding: 11px 20px;
  }
}

.form__list {
  display: flex;
  flex-direction: column;
  gap: 13px;

  @include normalize-list;
}

.form__list--purpose {
  margin-bottom: 45px;

  @media (min-width: $tablet-width) {
    padding: 25px 309px 25px 27px;
    outline: 1px solid #e7e7e7;
    margin-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.form__list--purpose .form__control {
  gap: 15px;

  @media (min-width: $tablet-width) {
    gap: 20px;
  }
}


.form__list--purpose .form__label {
  color: #222222;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__title {
  position: relative;
  padding: 0;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.form__group--owner-cat {
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }
}

.form__group--owner-cat .form__title {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
  }
}

.form__controls-owner-cat-wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 78px;
  }
}

.form__controls-owner-cat-wrapper .form__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.input--owner-cat {
  font-size: 16px;
  line-height: 18px;
  padding: 14px 15px;

  @media (min-width: $tablet-width) {
    padding: 11px 20px;
    font-size: 20px;
    line-height: 30px;
  }
}

.input--comment {
  min-height: 150px;
}

.form__group--owner-cat .form__control {
  gap: 10px;

  @media (min-width: $tablet-width) {
    gap: 20px;
  }
}

.form__group--comment {
  margin-bottom: 23px;
}

.form__group--comment .form__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
    font-size: 36px;
    line-height: 36px;
  }
}

.form__group--comment .form__input {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 9px 12px 9px 15px;
  color: #444444;

  @media (min-width: $tablet-width) {
    padding: 10px 19px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form__group--additional {
  margin-bottom: 34px;
}

.form__group--additional .form__title {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
    font-size: 36px;
    line-height: 36px;
  }
}

.form__list--additional {
  @include normalize-list;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 33px 61px;
  }
}

.form__list--additional .form__control {
  display: flex;
  gap: 20px;
}

.form__list--additional .form__label {
  font-size: 16px;
  line-height: 18px;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 282px 1fr;
    gap: 64px;
    align-items: center;
  }
}

.form__button {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding: 13px 45px;
    font-size: 20px;
  }
}

.form__text {
  text-align: center;
}
