@import "../global/variables.scss";

.gift {
  box-sizing: border-box;
  width: 280px;
  padding: 58px 61px 43px 58px;
  /* stylelint-disable unit-no-unknown*/
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), image-set("../img/product-card-image/gift.png" 1x, "../img/product-card-image/gift2xmobile.png" 2x);
  /* stylelint-enable unit-no-unknown*/
  background-repeat: no-repeat no-repeat;
  background-size: cover;

  @media (min-width: $tablet-width) {
    background-position: center;
    width: 707px;
    background-size: cover;
  }

  @media (min-width: $desktop-width) {
    padding: 63px 43px 43px 41px;
    gap: 46px;
    width: 245px;
    height: 284px;
    background-position: center;
  }
}

.gift__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;

  &::before {
    content: "";
    width: 78px;
    height: 80px;
    background-image: url("../img/product-card-image/icon-gift.svg");
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 80px 161px;
    justify-content: space-between;
    text-align: left;

    &::before {
      width: 80px;
      height: 82px;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
