@import "../global/variables.scss";

.header {
  min-width: 280px;
  max-width: 320px;
  margin: 0 auto;
  padding: 12px 0 16px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: 708px;
    max-width: 1220px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 3px 0 0 9px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 53px 110px 0 110px;
  }
}

.header__logo-wrapper {
  width: 170px;
  min-width: 170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    width: 175px;
    margin-right: auto;
  }

  // @media (min-width: $desktop-width) {
  //   width: 100%;
  //   margin-right: auto;
  // }
}
