@import "../global/variables.scss";

.header {
  max-width: 320px;
  margin: 0 auto;
  padding: 10px 0 16px;

  @media (min-width: $tablet-width) {
    display: flex;
    margin: 0 auto;
    width: 708px;
    max-width: 1220px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 3px 0 0 9px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 53px 110px 0 110px;
  }
}

.header__logo-wrapper {
  width: 192px;
  min-width: 170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  margin-right: 78px;

  @media (min-width: $tablet-width) {
    width: 175px;
    margin-right: auto;
  }
}
