.header {
  display: flex;
  flex-direction: row;
  min-width: 320px;
  justify-content: center;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px 17px;
  min-width: 280px;
  justify-content: space-between;
}

.nav__list {
  display: none;
}
