@import "../global/variables.scss";

.location__contacts {
  display: flex;
  gap: 2px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    background-color: #f2f2f2;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
    position: absolute;
    z-index: 3;
    max-width: 1440px;
    padding: 95px 765px 107px 110px;
  }
}

.location__map-wrapper iframe {
  position: relative;
  display: block;
  width: 100%;
  height: 320px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
