@import "../global/variables.scss";

.program-selection {
  display: flex;
  flex-direction: column;
  padding: 27px 0 32px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.program-selection__wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 65px 66px 72px 70px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 73px 110px 82px 110px;
  }
}

.program-selection__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin: 0;
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
  }
}

.program-selection__description {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
    padding-right: 225px;
  }
}
